{% set parsley = TRUE %}
{% set title = 'Create New project' %}


{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{% block css %}
<link rel="stylesheet" href="{{assets}}/scss/extra.scss"/>
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. ***NB you don't need <script></script> tags here*** #}
{% endblock setup %}

{% block onload %}
    $('#projectForm').on('submit', function(e){
        return $(this).parsley().validate();
    }).parsley();
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Create new project</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
        {% include '@util/message.twig' %}
           {{f.startform({method: 'post', id: 'projectForm', multi: TRUE})}}
           {{f.text({label: 'Project Name', id: 'ipname', name: 'pname', 
                ph: 'My first Project!', required: true})}}
            {{f.textarea({label: 'Project Description', id: 'ipdesc', name: 'pdesc', required: true, 
                ph: 'This project involves'})}}    
           {{f.submit({value: 'Submit'})}}     
           {{f.endform()}} 
        </article>
    </section>
{% endblock main %}


