{% set parsley = TRUE %}
{% set title = 'Create new project' %}
{% set keywords = 'projects, management, development, agile' %}
{% set description = 'Create a new note' %}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}


{% block css %}
{# <link> for any other CSS files you need #}
<link rel="stylesheet" href="{{assets}}/css/bootstrap-duration-picker.css"/>
{% endblock css %}

{% block scripts %}
{# Code adapted from: https://github.com/koss-lebedev/bootstrap-duration-picker #}
<script src="{{assets}}/js/bootstrap-duration-picker.js"></script>
{% endblock scripts %}

{% block setup %}
    $('#iduration').durationPicker({
        onChanged: function (newVal)
        {
            $('#isecondsholder').val(newVal);
        }
    });
{% endblock setup %}

{% block onload %}
    $('#noteForm').on('submit', function(e){
        return $(this).parsley().validate();
    }).parsley();
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Add new note to project</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            {% include '@util/message.twig' %}
            {{f.startform({method: 'post', id: 'noteForm', multi: TRUE})}}
            {{f.textarea({label: 'Write a bit about the project', id: 'inotetext', name: 'notetext', 
                ph: 'Today I worked on...', required: true})}}
            {{f.text({label: 'Update time spent on project', id: 'iduration', name: 'duration', class:'invisible'})}}     
            {{f.text({id: 'isecondsholder', name: 'secondsholder', readonly: 'true', class:'d-none'})}}   
            {{f.file({label: 'Upload an attachment', id: 'ifilesubmit', name: 'filesubmit', multiple: 'false'})}}
            {{f.submit({value: 'Submit'})}}     
            {{f.endform()}} 
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}

