{#
    There several variables you can set at the top of a Twig to control some of the things
    that the Framework includes in the output. Look at twigs/content/page.twig to see all
    the possible variables and how they are used.
#}
{#
    If your page uses AJAX include this line at the start of the file - it loads a different version of jQuery.
{% set ajax = TRUE %}
#}
{#
    If your page uses the Framework JS util package include this line at the start of the file
{% set fwutils = TRUE %}
#}
{% set parsley = TRUE %}
{% set title = 'Create new project' %}


{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}


{% block css %}
{# <link> for any other CSS files you need #}
<link rel="stylesheet" href="{{assets}}/css/bootstrap-duration-picker.css"/>
{% endblock css %}

{% block scripts %}
{# Credit: https://github.com/koss-lebedev/bootstrap-duration-picker #}
<script src="{{assets}}/js/bootstrap-duration-picker.js"></script>
{% endblock scripts %}

{% block setup %}
 $('#iduration').durationPicker({
      onChanged: function (newVal) {
        $('#isecondsholder').val(newVal);
      }
    });
{% endblock setup %}

{% block onload %}
   
    $('#noteForm').on('submit', function(e){
        return $(this).parsley().validate();
    }).parsley();
{% endblock onload %}

{# uncomment this if you don't want the default navbar to appear
{% block navigation %}
{% endblock navigation %}
#}

{#
    Edit the file navbar.twig to change the appearance of the
    navigation bar. It is included by default from page.twig
#}

{# uncomment this and delete header block below to remove the <header> tag altogether
{% block pageheader %}
{% endblock pageheader %}
#}

{#
    If you have a standard header for all (most) pages then put the
    content in the file twigs/surround/header.twig. It is included by page.twig by
    default. You then don't need to have a header block either.
#}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Add new note to project</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            {% include '@util/message.twig' %}
            {{f.startform({method: 'post', id: 'noteForm', multi: TRUE})}}
            {{f.textarea({label: 'Write a bit about the project', id: 'inotetext', name: 'notetext', 
                ph: 'Today I worked on...', required: true})}}
            {{f.text({label: 'Update time spent on project', id: 'iduration', name: 'duration', class:'invisible' })}}     
            {{f.text({id: 'isecondsholder', name: 'secondsholder', readonly: 'true', class:'d-none'})}}   
            {{f.file({label: 'Upload an attachment', id: 'ifilesubmit', name: 'filesubmit', multiple: 'false'})}}
            {{f.submit({value: 'Submit'})}}     
            {{f.endform()}} 
        </article>
    </section>
{% endblock main %}

{# uncomment this and delete the footer block below to remove the <footer> tag altogether
{% block pagefooter %}
{% endblock pagefooter %}
#}

{#
    If you have a standard footer for all (most) pages then put the
    content in the file twigs/surround/footer.twig. It is included by page.twig by
    default. You then don't need to have a footer block either.
#}

{% block footer %}
    <article class="col-md-12">
        <p class="text-center">Footer</p>
    </article>
{% endblock footer %}
