{% set ajax = TRUE %}
{% set fwutils = TRUE %}
{% set usebootbox = TRUE %}
{% set title = 'Logger - Your Projects' %}



{% set keywords = 'Projects, Management, Logging' %}


{#
   If you want a <meta> Description tag set this
{% set description = 'A PHP framework for building RESTful systems' %}
#}

{% extends '@content/page.twig' %}
{% import '@content/iconmacro.twig' as fa %}

{% block meta %}
{# <meta> for things like keywords etc.#}
{% endblock meta %}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
<link rel="stylesheet" href="{{assets}}/scss/extra.scss"/>
{% endblock css %}

{% block scripts %}
<script src="{{assets}}/js/extended-util.js"></script>
{% endblock scripts %}

{% block setup %}
$('.delb').click({type: "project"}, delbeanDomRemove);
{% endblock setup %}

{% block onload %}
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Projects</h1>
    </article>
{% endblock header %}

{% block main %} 
    <p class="text-center">Hi {{user.login}}, here are your projects </a>
    <div class="row">
        {% for project in projects|filter(p => user.login in p.sharedUserList|join(', '))%}       
            <div class="col-md-6 my-3"> 
                <div class="card" >
                    <div data-id={{project.id}} class="card-body">
                        <h5 class="card-title">{{ project.name}}</h5>
                        <p class="card-text">{{project.description}}</p>
                        <p class="card-text font-weight-bold">Owner</p>
                        <p class="card-text">{{project.owner.login}}</p>
                        <p class="card-text font-weight-bold">Contributors</p>
                        <p class="card-text">{{project.sharedUserList|map(p => p.login)|join(', ')}}</p>
                        <a class="btn btn-info" href="{{base}}/project/{{project.id}}">More details</a>
                        {% if user.login == project.owner.login %}
                            <p class="card-text">{{fa.delete("delb")}}</p> 
                        {% endif %}        
                    </div>
                    <div data-id={{project.id}} class="card-footer start-date">
                            <small class="text-muted">Start Date: {{project.start_date}}</small>
                    </div>   
                </div>    
            </div>
        {% endfor %}
    </div>
{% endblock main %}
