{% set ajax = TRUE %}
{% set fwutils = TRUE %}
{% set usebootbox = TRUE %}
{% set parsley = TRUE %}

{% set title = 'Project' %}
{% set keywords = 'projects, management, development, agile' %}
{% extends '@content/page.twig' %}
{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}
{% import '@content/iconmacro.twig' as fa %} 
{% block meta %}
{# <meta> for things like keywords etc.#}
{% endblock meta %}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
<script src="{{assets}}/js/extended-util.js"></script>
{% endblock scripts %}

{% block setup %}
    $('.delb').click({type: "note"}, delbeanDomRemove);
{% endblock setup %}

{% block onload %}
    $('.note-text').each(function(note)
    {
        $(this).html(urlify($(this).html()));
    });
    $('.contribBtn').on('click', toggleContributors);
    $('.editb').click({type: "note", formName: "noteEditForm"}, editItem);
    $('#contribForm').on('submit', function(event) 
        {
            event.preventDefault();
            $.ajax({
                type: 'PATCH',
                url: base+'/ajax/update/project/'+{{pid}},
                data: $(this).serialize(),
                success: function(data, txt) { if (txt === 'success') { location.reload(); } }, 
                error: function(jx) { bootbox.alert('<h3>Update failed</h3>'+jx.responseText); }
            });
        });
{% endblock onload %}

{% if not page is defined %}
    {% set page = 1 %}
    {% set pagesize = 10 %}
{% endif %}

{% set pages = siteinfo.pagecount('note', pagesize, "project_id = " ~ project.getID) %}

{% block header %}
   
{% endblock header %}

{% block main %}
        <article class="ml-auto col-md-12 mr-auto">
            <h1>{{project.name}}</h1>
            <h4>Owned by: {{project.owner.login}}</h4> 
            <h4>Contributors: {{project.sharedUserList|map(p => p.login)|join(', ')}}</h4>
            <p>{{project.description}}</p>
            <a class="btn btn-primary" href="{{base}}/{{action}}/{{project.getID}}/note">Add new note</a>
            <br/>
            <br/>
            <p class="font-weight-bold">Time spent</p>
            <p>{{ splural(time['day'], 'day')}}  {{splural(time['hour'], 'hour')}} {{splural(time['minute'], 'minute')}} </p>
            <br/>
            {% if user == project.owner.login %}
                <p>Add Contributor {{fa.fa('toggle-off', 'contribBtn')}}</p>
                {% include '@util/message.twig' %}
                {{f.startform({method: 'post', id: 'contribForm', multi: TRUE, class: 'd-none'})}}
                {{f.text({label: 'Add new contributor', id: 'icontributor', name: 'contributor', ph: 'username', required: true })}}    
                {{f.submit({value: 'Submit'})}}     
                {{f.endform()}} 
            {% endif %}
            {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
            <div class="row">
                {% for note in notes %}       
                    <div class="col-md-12 my-3"> 
                        <div class="card note-card w-100">
                            <div data-id={{note.getID}} class="card-body">
                                <h5 class="card-title">Note added by {{ note.owner.login}}</h5>
                                <h6 class="card-subtitle text-muted">At: {{note.start_date}}</h6>
                                <p class="card-text note-text">{{note.text}}</p>
                                {% if note.sharedUploadList is not empty %}
                                    <p class="font-weight-bold">Attachment</p>
                                    <div class="attatchment" data-id={{note.sharedUploadList|map((p) => p.getID)|join(',' )}}>
                                    {% for upload in note.sharedUploadList %}
                                        <p> Filename: {{upload.filename}} </p>
                                        <a href="{{base}}/private/file/{{upload.getID}}">download</a>
                                        
                                    {% endfor %}
                                    </div>
                                {% endif %}
                               
                                {% if user == note.owner.login %}
                                    <p class="card-text float-right">{{fa.delete("delb")}}</p> 
                                    <p data-toggle="modal" data-target={{note.getID}}>{{fa.edit("editb")}}</p>
                                {% else %}
                                    <p class="card-text float-right">{{fa.fa("trash-alt", "disabled")}}</p> 
                                    <p class="card-text">{{fa.fa("edit", "disabled")}}</p> 
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                    {{m.open({id: note.getID, title: 'Edit Note'})}}
                        <div class="modal-body" data-id={{note.getID}}>
                            {{f.startform({method: 'post', id: 'noteEditForm' ~ note.getID, multi: TRUE})}}           
                            {{f.textarea({label: 'Update Task', id: 'inotetext', name: 'notetext', ph: note.text, required: true})}}  
                            {{f.submit({value: 'Edit'})}}     
                            {{f.endform()}} 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>   
                {% endfor %}    
            </div>
            {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
        </article>
{% endblock main %}


