{#
    If your page uses AJAX include this line at the start of the file - it loads a different version of jQuery.
{% set ajax = TRUE %}
#}
{#
    If your page uses the Framework JS util package include this line at the start of the file
{% set fwutils = TRUE %}
#}

{% set parsley = TRUE %}

{#
    If your page does NOT need not use bootbox then this will stop the JS being loaded for it
{% set usebootbox = FALSE %}
#}


{% set title = 'Project' %}

{#
   If you want a <meta> Keywords tag set this
{% set keywords = 'Framework, PHP, RedBean' %}
#}

{#
   If you want a <meta> Description tag set this
{% set description = 'A PHP framework for building RESTful systems' %}
#}

{#
   You can set a schema that describes the page with this variable - see http://schema.org for what values are available
{% set schema = 'itemscope="" itemtype="http://schema.org/AboutPage"' %}
#}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}

{# this brings in some useful macros for making modals
{% import '@util/modalmacro.twig' as m %}
#}

{% block meta %}
{# <meta> for things like keywords etc.#}
{% endblock meta %}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
{# <link> for any other CSS files you need #}
<link rel="stylesheet" href="{{assets}}/css/bootstrap-duration-picker.css"/>
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
<script src="{{assets}}/js/bootstrap-duration-picker.js"></script>
{% endblock scripts %}

{% block setup %}
function toggleContributors(e) {
    $(this).toggleClass('fa-toggle-on');
    $('#contribForm').toggleClass('d-none');
};
{% endblock setup %}

{% block onload %}
$('.contribBtn').on('click', toggleContributors);

{% endblock onload %}


{% import '@content/iconmacro.twig' as fa %} 

{% block header %}
   
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <h1>{{project.name}}</h1>
            <h4>Owned by: {{project.owner.login}}</h4> 
            <h4>Contributors: {{project.sharedUserList|map(p => p.login)|join(', ')}}</h4>
            <p>{{project.description}}</p>
            <a class="btn btn-primary" href="{{base}}/{{action}}/{{project.id}}/note">Add new note</a>
            <br/>
            <br/>
            <p class="font-weight-bold">Time spent</p>
            <p>{{ splural(time['day'], 'day')}}  {{splural(time['hour'], 'hour')}} {{splural(time['minute'], 'minute')}} </p>
            <br/>
            {% if user == project.owner.login %}
                <p>Add Contributor {{fa.fa('toggle-off', 'contribBtn')}}</p>
                {% include '@util/message.twig' %}
                {{f.startform({method: 'post', id: 'contribForm', multi: TRUE, class: 'd-none'})}}
                {{f.text({label: 'Add new contributor', id: 'icontributor', name: 'contributor', 
                    ph: 'username', required: true })}}    
                {{f.submit({value: 'Submit'})}}     
                {{f.endform()}} 
            {% endif %}
            <div class="container">
            <div class="row" style="margin-bottom:15px;">
                {% for note in project.ownNoteList %}       
                <div class="col-sm-15"> 
                    <div class="card">
                        <div data-id={{project.id}} class="card-body">
                            <h5 class="card-title">{{ note.owner.login}}</h5>
                            <p class="card-text">{{note.text}}</p>
                            {% for upload in note.sharedUploadList %}
                                <p> Filename {{upload.filename}} </p>
                                <a href="{{base}}/private/file/{{upload.getID}}">download</a>
                            {% endfor %}
                            <p class="card-text">{{fa.delete("delb")}}</p>     
                        </div>
                        <div data-id={{project.id}} class="card-footer">
                            <small class="text-muted">Start Date: {{note.start_date}}</small>
                        </div>   
                </div>
                {% endfor %}    
            </div>
             </div>
        </article>
    </section>
{% endblock main %}


