{% set ajax = TRUE %}
{% set fwutils = TRUE %}
{% set usebootbox = TRUE %}
{% set title = 'Logger - Your Projects' %}

{#
   If you want a <meta> Keywords tag set this
{% set keywords = 'Framework, PHP, RedBean' %}
#}

{#
   If you want a <meta> Description tag set this
{% set description = 'A PHP framework for building RESTful systems' %}
#}

{% extends '@content/page.twig' %}
{% import '@content/iconmacro.twig' as fa %}

{% block meta %}
{# <meta> for things like keywords etc.#}
{% endblock meta %}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
function delproject(e)
    {
        let pid = $(this).parent().parent().attr("data-id");
        $(this).parent().parent().addClass("d-none");
        $(this).parent().parent().next().addClass("d-none")
        framework.deletebean(e, this, "project", pid, function(){console.log("test");}, "");
    }
{# Any javascript you need that is NOT run on load goes in this block. ***NB you don't need <script></script> tags here*** #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load goes in this block. ***NB you don't need <script></script> tags here*** #}
$('.delb').on('click', delproject);
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Projects</h1>
    </article>
{% endblock header %}

{% block main %} 
    <p class="text-center">Hi {{user.login}}, here are your projects </a>
    <div class="row" style="margin-bottom:15px;">
        {% for project in projects|filter(p => user.login in p.sharedUserList|join(', '))%}       
            <div class="col-sm-6"> 
                <div class="card">
                    <div data-id={{project.id}} class="card-body">
                        <h5 class="card-title">{{ project.name}}</h5>
                        <p class="card-text">{{project.description}}</p>
                        <p class="card-text">Contributors</p>
                        {% for user in project.sharedUserList %}
                            <p class="card-text">{{user.login}}</p>
                        {% endfor %}
                        <a href="{{base}}/project/{{project.id}}">More details</a>
                        <p class="card-text">{{fa.delete("delb")}}</p>     
                    </div>
                    <div data-id={{project.id}} class="card-footer">
                            <small class="text-muted">Start Date: {{project.start_date}}</small>
                    </div>   
                </div>    
            </div>
        {% endfor %}
    </div>
{% endblock main %}
