{% set ajax = TRUE %}
{% set fwutils = TRUE %}
{% set usebootbox = TRUE %}
{% set title = 'Logger - Your Projects' %}
{% set keywords = 'Projects, Management, Logging' %}
{% set description = 'View all of your projects' %}
{% extends '@content/page.twig' %}
{% import '@content/iconmacro.twig' as fa %}
{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}
{% block meta %}
{# <meta> for things like keywords etc.#}
{% endblock meta %}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
<link rel="stylesheet" href="{{assets}}/scss/extra.scss"/>
{% endblock css %}

{% block scripts %}
<script src="{{assets}}/js/extended-util.js"></script>
{% endblock scripts %}

{% block setup %}
    $('.delb').click({type: "project"}, delbeanDomRemove);
{% endblock setup %}

{% block onload %}
    $('.editb').on('click', function(e){
        let mID = $(this).parent().attr('data-target');
        $('#'+mID).modal('show')
        $('#projectEditForm'+mID).on('submit', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/ajax/update/project/'+$(this).parent().attr('data-id'),
                data: $(this).serialize(),
            });
        });
    });
  
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-center">Projects</h1>
    </article>
{% endblock header %}

{% block main %} 
    {% if projects %}
        <p class="text-center">Hi {{user.login}}, here are your projects </a>
    {% else %}
        <p class="text-center">Hi {{user.login}}, you currently do not have any projects which you own or contribute to </a>
    {% endif %}
    {% include '@util/message.twig' %}

    <div class="row">
        {% for project in projects|filter(p => user.login in p.sharedUserList|join(', ')) %}       
            <div class="col-md-6 my-3"> 
                <div class="card" >
                    <div data-id={{project.getID}} class="card-body">
                        <h5 class="card-title">{{ project.name}}</h5>
                        <p class="card-text">{{project.description}}</p>
                        <p class="card-text font-weight-bold">Owner</p>
                        <p class="card-text">{{project.owner.login}}</p>
                        <p class="card-text font-weight-bold">Contributors</p>
                        <p class="card-text">{{project.sharedUserList|map(p => p.login)|join(', ')}}</p>
                        <a class="btn btn-info" href="{{base}}/project/{{project.getID}}">More details</a>
                        {% if user.login == project.owner.login %}
                            <p class="card-text">{{fa.delete("delb")}}</p> 
                            <p data-toggle="modal" data-target={{project.getID}}>{{fa.edit("editb")}}</p>
                        {% endif %}
                    </div>
                    <div data-id={{project.getID}} class="card-footer start-date">
                        <small class="text-muted">Start Date: {{project.start_date}}</small>
                    </div>   
                </div>       
            </div>
            {{m.open({id: project.getID, title: 'Edit Project'})}}
                <div class="modal-body" data-id={{project.getID}}>
                    {{f.startform({method: 'post', id: 'projectEditForm' ~ project.getID, multi: TRUE})}}
                    {{f.text({label: 'Project Name', id: 'ipname', name: 'pname', ph: project.name, required: TRUE })}}
                    {{f.textarea({label: 'Project Description', id: 'ipdesc', name: 'pdesc', ph: project.description, required: TRUE })}}
                    {{f.hidden({id: 'ipID', name: 'pID', value: project.getID})}} 
                    {{f.submit({value: 'Edit'})}}  
                    {{f.endform()}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock main %}
