{% set ajax = TRUE %}
{% set fwutils = TRUE %}
{% set usebootbox = TRUE %}
{% set title = 'Search results for ' ~ sQuery %}
{% set keywords = 'projects, management, development, agile' %}
{% set description = 'Find a specific project' %}
{% extends '@content/page.twig' %}
{% import '@content/iconmacro.twig' as fa %}

{% block meta %}
{# <meta> for things like keywords etc.#}
{% endblock meta %}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
{% endblock css %}

{% block scripts %}
{% endblock scripts %}

{% block setup %}
{% endblock setup %}

{% block onload %}
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1>Search results for '{{sQuery}}'</h1>
    </article>
{% endblock header %}

{% block main %} 
    {% if not results %}
        <p>Oh no! No projects found with title '{{sQuery}}' </p>
    {% endif %}
    <div class="row">
        {% for project in results %}       
            <div class="col-md-6 my-3"> 
                <div class="card" >
                    <div data-id={{project.getID}} class="card-body">
                        <h5 class="card-title">{{ project.name}}</h5>
                        <p class="card-text">{{project.description}}</p>
                        <p class="card-text font-weight-bold">Owner</p>
                        <p class="card-text">{{project.owner.login}}</p>
                        <p class="card-text font-weight-bold">Contributors</p>
                        <p class="card-text">{{project.sharedUserList|map(p => p.login)|join(', ')}}</p>
                        <a class="btn btn-info" href="{{base}}/project/{{project.getID}}">More details</a>    
                    </div>
                    <div data-id={{project.id}} class="card-footer">
                            <small class="text-muted">Start Date: {{project.start_date}}</small>
                    </div>   
                </div>    
            </div>
        {% endfor %}
    </div>
{% endblock main %}
